body {
	padding-top: 50px;
}
#teamHeader {
	width:100%
}

#title {
	padding: 30px;
}

h2 {
	font-size: 75px;
}

#standings, #plot, {
	height: 700px;
	background-color: lightgray;
	padding-top: 25px;
}


#standingsTable, tr{
	background-color: white;
	border: 3px solid black;
	padding: 5px;
}
#topPlayers {
	height: 350px;
	width: 350px;
}
#goalies {
	position:absolute;
	height: 350px;
	width: 350px;
}

th, td {
	border: 1px solid black;
	padding: 8px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
	 padding-top: 20px;
	 padding-bottom: 20px;
}

.navbar-default, footer {
	background-color: #202020 !important;
	color: #777;
}

.tick {
	font-size: 12px;
}
