extends mainLayout
block content
  h1= title
  p= description
  if(username == null)
    p You are not logged in.
  else
    p You are logged in as #{username}.
    script(type='text/javascript').
      $.post("/api/getTeamStanding", { team: "Penguins" }, function(data) {
        console.log(data);
        // parse data and display using d3 here
      });
  div= body
